{% extends "base.html" %}
{% load static %}

{# This view is for internal consumption only - should never be seen by normal users. #}

{% block title %}Mail Check{% endblock %}

{% block content %}

  {% if user.is_authenticated %}

    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          Mail Check
        </div>
        <div class="card-body">
          <p>
            Mail that would have gone out if this site sent live email:
          </p>

          {% if emails %}

            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Subject</th>
                  <th>To</th>
                  <th>From</th>
                </tr>
              </thead>
              <tbody>
                {% for msg in emails %}
                  <tr>
                    <td><a href="{% url "mailcheck:detail" msg.id %}">{{ msg.msg_date }}</a></td>
                    <td>{{ msg.msg_subject }}</td>
                    <td>{{ msg.msg_to }}</td>
                    <td>{{ msg.msg_from }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <p>
              <i>Showing the last {{ threshold }} days of email outbound from this server instance.</i>
            </p>

          {% else %}
            No messages found.
          {% endif %}
        </div>
      </div>
    </div>

  {% endif %}

{% endblock content %}

